/* Global stuff */

body {
  background-color: #F7F7F7;
}

header {
	display:none;
}

#full_content {
  width: 100%;
  clear: left; 
  background-color: #F7F7F7;
}

#content[role=main] {
  width: 100%;
  border:none;
  background-color: #F7F7F7;
}

#content footer {
  display: none; 
}

#content_box {
  margin-left: 250px; 
  color: #1A1A1A;
  background-color: #F7F7F7;
}

/* Login */

#login .img_box {
  display:none; 
}

#login .box_center_large2 {
  height:inherit;
  padding: 10px 5px;
  margin-top: 75px;
}

/* Sidebar */

#sidebar {
  position: fixed; 
  background: #484F58;
  overflow: scroll;
}

#sidebar .section {
  background-color: #4B7FB4;
}

#sidebar .section a {
	border: none;
}

#sidebar .menu_list li {
  list-style-type: none; 
}

/* Tables */

.adm_table th {
  background-color: #4B7FB4;
  border: none;
}

.adm_table tr:nth-child(odd) {
  background-color: #EDEDED;
}

.adm_table tr:nth-child(even) {
  background-color: #F7F7F7;
}

.adm_table {
  border: 1px solid #A9A9A9; 
}

.adm_table td {
  border:none; 
}

/* alert / notice */

.new-ergo-info {
  border: 1px solid #CDCDCE;
  color: #06182C;
  background-color: #D8E9FD;
}

.new-ergo-warning {
  border: 1px solid #AF7878;
  color: black;
  background-color: #FFE4E4;
}

/* other fix */

.prj_col_h {
  background-color: #F7F7F7;
  border: 1px solid #888888;
}

#token-input {
    display: block;
    height: 200px;
    width: 600px;
    font-size: 160px;
    font-family: arial;
    text-align: center;
    margin: 25px auto;
    color: #000000;
    background-color: rgba(92, 92, 92, 0);
    outline: none;
    border: none;
    width: 100%;
}

/*  Box  */

.box_center {
  background-color: #484F58;
}

/* breadcrumbs */
#breadcrumbs-one, #breadcrumbs-one a {
  background-color: #484F58;
}

#breadcrumbs-one a::after {
   border-left-color: #4B7FB4;
}
